The recent paper from Besley, Fontana and Limodio (2020, AEJ Insights) uses a database that is avaiable digitally but not in a format able to be read in actively as a .do file. I scrape Hylton and Deng's Antitrust Database-- which is used in the paper, with this code. Note. Various measures of anti-trust that go into the rankings/scores are not scraped. This must be worked on.

In [ ]:
!pip3 install country_converter

Collecting country_converter
  Downloading https://files.pythonhosted.org/packages/8d/57/359a3d4507c5c517ba8e95933214f59b5a1b1a8f51c9b8c9031cd34959dc/country_converter-0.7.1.tar.gz (47kB)
     |████████████████████████████████| 51kB 2.8MB/s
Requirement already satisfied: pandas>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from country_converter) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.0->country_converter) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.0->country_converter) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.0->country_converter) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.17.0->country_converter) (1.15.0)
Building wheels for collected packages: country-converter
  Building wheel for country-converter (setup.py) ... done
  Created wheel for country-converter: filename=country_converter-0.7.1-cp36-none-any.whl size=50807 sha256=c5d17b8f46e8f4e87768dd867c318c72ccc9cc1ec674d6939f0c9e2ce87db291
  Stored in directory: /root/.cache/pip/wheels/75/be/cb/3c8d07bca8f2c0670e996a174fed372585b32d3aa03f40996a
Successfully built country-converter
Installing collected packages: country-converter
Successfully installed country-converter-0.7.1

In [ ]:
import requests
from bs4 import BeautifulSoup as bs
from urllib.parse import urlparse, urljoin
import urllib
import  nltk
import webbrowser
import geograpy
import pycountry
import pandas as pd
from urllib.request import urlopen
from geograpy import places
from geograpy import extraction
import scrapy
import re
from dateutil.parser import parse
import calendar
from string import digits
from collections import OrderedDict
import datetime
import country_converter as coco

In [ ]:
res = requests.get('http://antitrustworldwiki.com/antitrustwiki/index.php/Main_Page')
soup = bs(res.text, "html.parser")
wiki_dict = {}
linklist = []
for link in soup.find_all("a"):
    url = link.get("href", "")
    if "antitrustwiki/index.php/" in url:
        wiki_dict[link.text.strip()] = url
        linklist.append(wiki_dict)
countrylist = pd.DataFrame.from_dict(linklist)
#pycountries do not recognize these irregular naming conventions
columns= list(country.name for country in pycountry.countries)
exceptions = ["Bolivia", "Venezuela", "Cote d'Ivoire", 'Vietnam', 'Iran',
              'South Korea','Sudan','Macau','Republic of Ireland', 
              'Slovak Republic', 'Bosnia-Herzegovina', 'Lao PDR', 'Tanzania', 'Taiwan',
              "Macedonia", "Russia", "Moldova", "Faroe Island" "Czech Republic"]
def Union(lst1, lst2): 
    final_list = lst1 + lst2 
    return final_list 
united_columns = Union(columns, exceptions)

In [ ]:
countrylist = countrylist[countrylist.columns.intersection(united_columns)]
countrylist= countrylist.drop_duplicates()
country_url =  countrylist.values.tolist()[0] 
string = "http://antitrustworldwiki.com"
list_url = [string+str(x) for x in country_url]

In [ ]:
wiki_dict2 = {}
linklist2 = []
for l in list_url:
  r = requests.get(l)
  soup = bs(r.text, "html.parser")
  for link in soup.find_all("a"):
    url2 = link.get("href", "")
    if "antitrustwiki/index.php/" in url2:
        wiki_dict2[link.text.strip()] = url2
        linklist2.append(wiki_dict2)
countrylist2 = pd.DataFrame.from_dict(linklist2)

In [ ]:
countrylist2= countrylist2.drop_duplicates()
country_url2 =  countrylist2.values.tolist()[0] 
list_url2 = [string+str(x) for x in country_url2]
linklist3 = []
for x in list_url2:
  for y in list_url:
    if y in x:
      linklist3.append(x)
linklist3 = [x for x in linklist3 if "/EU," not in x]

In [ ]:
year=[]
appended=[]
dicts={}
for z in linklist3:
  req = requests.get(z)
  soup3 = bs(req.text, 'html.parser')
  for nat in soup3.find_all('h1'):
    for line in soup3.find_all('b'):
      if not "Score" in line.text:continue  
      appended.append([nat.get_text(strip=True), line.get_text(strip=True)])

In [ ]:
appended

[['Austria (January 1, 2006)', 'Score = 19'],
 ['Austria (January 1, 2000)', 'Score = 19'],
 ['Belgium, 2006', 'Score = 20'],
 ['Belgium 1999', 'Score = 18'],
 ['Bulgaria 2003', 'Score = 20'],
 ['Bulgaria 1998', 'Score = 17'],
 ['Cyprus (2008)', 'Score = 17'],
 ['Cyprus (1999)', 'Score = 23'],
 ['Denmark July 2000', 'Score = 22'],
 ['Denmark June 2002', 'Score = 22'],
 ['Denmark August 2005', 'Score = 22'],
 ['Denmark August 21, 2007', 'Score = 22'],
 ['Estonia (July 1, 2006)', 'Score = 21'],
 ['Estonia (June 28, 2004)', 'Score = 21'],
 ['Estonia (March 8, 2003)', 'Score = 20'],
 ['Estonia (October 1, 2001)', 'Score = 21'],
 ['Estonia (October 1, 1998)', 'Score = 20'],
 ['Finland 1998', 'Score = 21'],
 ['Finland 2004', 'Score = 19'],
 ['France, 2005', 'Score = 26'],
 ['France, 1999', 'Score = 18'],
 ['France, 1986', 'Score = 19'],
 ['France, 1977', 'Score = 16'],
 ['France, 1967', 'Score = 13'],
 ['France, 1953', 'Score = 12'],
 ['Germany (December 19, 2000)', 'Score = 19'],
 ['Germany (July 12, 2005)', 'Score = 19'],
 ['Greece (1976)', 'Score = 0'],
 ['Greece (September 26 1977)', 'Score = CALCULATION INCOMPLETE'],
 ['Greece (August 3, 2000)', 'Score = 19'],
 ['Greece (August 2, 2006)', 'Score = 19'],
 ['Hungary (November 1, 2005)', 'Score = 25'],
 ['Hungary (June 2003)', 'Score = 24'],
 ['Hungary (Febuary 2001)', 'Score = 20'],
 ['Hungary (January 1 1997)', 'Score = 20'],
 ['Ireland (March 11 2006)', 'Score = 20'],
 ['Ireland (April 10, 2002)', 'Score = 20'],
 ['Ireland (July 3, 1996)', 'Score = 23'],
 ['Italy (April 30, 1998)', 'Score = 22'],
 ['Italy (October 10, 1990)', 'Score = 23'],
 ['Latvia (May 1, 2004)', 'Score = 21'],
 ['Latvia (April 10, 2001)', 'Score = 19'],
 ['Latvia (Jan 1, 1998)', 'Score = 10'],
 ['Lithuania (April 15, 2004)', 'Score = 21'],
 ['Lithuania (March 23. 1999)', 'Score = 21'],
 ['Luxembourg (May 17, 2004)', 'Score = 10'],
 ['Luxembourg (April 20, 1989)', 'Score = 5'],
 ['Malta (2007)', 'Score = 20'],
 ['Malta (January 1, 2003)', 'Score = 19'],
 ['Malta (February 1, 1995)', 'Score = 14'],
 ['Netherlands 1999', 'Score = 21'],
 ['Netherlands 2004', 'Score = 22'],
 ['Netherlands 2007', 'Score = 22'],
 ['Poland (April 16, 1993)', 'Score = 17'],
 ['Poland (February 3, 1995)', 'Score = 18'],
 ['Poland (December 15, 2000)', 'Score = 20'],
 ['Poland (February 16, 2007)', 'Score = 22'],
 ['Portugal (October 29 1993)', 'Score = 20'],
 ['Portugal (June 11 2003)', 'Score = 20'],
 ['Romania (December 10, 2003)', 'Score = 22'],
 ['Slovak Republic (27 February 2001)', 'Score = 19'],
 ['Slovak Republic (1994)', 'Score = 13'],
 ['Slovenia (2004)', 'Score = 21'],
 ['Spain (December 28, 1999)', 'Score = 22'],
 ['Spain (September 1, 2007)', 'Score = 26'],
 ['Sweden (August 1, 2005)', 'Score = 21'],
 ['Sweden (January 1, 2001)', 'Score = 22'],
 ['Sweden (July 1, 1998)', 'Score = 21'],
 ['United Kingdom 2002', 'Score = 22'],
 ['United Kingdom 1998', 'Score = 21'],
 ['Albania (July 28, 2003)', 'Score = 20'],
 ['Albania (December 7, 1995)', 'Score = 24'],
 ['Armenia (November 6, 2000)', 'Score = 17'],
 ['Belarus December 2002', 'Score = 25'],
 ['Bosnia-Herzegovina 2001', 'Score = 13'],
 ['Bosnia-Herzegovina 2005', 'Score = 21'],
 ['Croatia (July 15, 2003)', 'Score = 20'],
 ['Croatia (February, 1997)', 'Score = UNKNOWN'],
 ['Greenland (October 30, 1992)', 'Score = 5'],
 ['Greenland (2007)', 'Score = 15'],
 ['Iceland (March 27, 2007)', 'Score = 21'],
 ['Iceland (December 6, 2000)', 'Score = 18'],
 ['Macedonia (Jan 1, 2005)', 'Score = 23'],
 ['Macedonia (April 1, 2000)', 'Score = 17'],
 ['Moldova (February 29, 1992)', 'Score = 22'],
 ['Norway 1993', 'Score = 13'],
 ['Norway 2004', 'Score = 17'],
 ['Russia (July 26, 2006)', 'Score = 22'],
 ['Russia (2002)', 'Score = 21'],
 ['Serbia-Montenegro (September 16, 2005)', 'Score = 19'],
 ['Serbia, 1996', 'Score = 11'],
 ['Switzerland (October 6, 1995)', 'Score = 24'],
 ['Switzerland (2003)', 'Score = 25'],
 ['Turkey (February 7, 2005)', 'Score = 21'],
 ['Turkey (December 13, 1994)', 'Score = 20'],
 ['Ukraine 2001', 'Score = 23'],
 ['Azerbaijan (October 7, 1997)', 'Score = 20'],
 ['Bangladesh 1970', 'Score = 14'],
 ['China (1993, 1997)', 'Score = 8'],
 ['China (August 1 2008)', 'Score = 23'],
 ['Hong Kong (2010)', 'Score = 17'],
 ['Hong Kong (May 1998)', 'Score = 11'],
 ['India (January 13, 2003)', 'Score = 22'],
 ['India (July 1991)', 'Score = 11'],
 ['Indonesia (March 5, 1999)', 'Score = 23'],
 ['Kazakhstan (July 7, 2006)', 'Score = 24'],
 ['Kazakhstan (January 19, 2001)', 'Score = 22'],
 ['Lao PDR (April 2, 2004)', 'Score = 13'],
 ['Mongolia (May 12, 2000)', 'Score = 18'],
 ['Mongolia (September 9, 1994)', 'Score = 17'],
 ['Pakistan (1970)', 'Score = 14'],
 ['Singapore (January 1, 2006)', 'Score = 12'],
 ['Singapore (July 1, 2007)', 'Score = 14'],
 ['South Korea (December 31, 2004)', 'Score = 25'],
 ['South Korea (August 3, 2007)', 'Score = 25'],
 ['Sri Lanka (1987)', 'Score = 8'],
 ['Taiwan (February 6, 2002)', 'Score = 22'],
 ['Taiwan (April 26, 2000)', 'Score = 21'],
 ['Tajikistan (November 29, 2000)', 'Score = 20'],
 ['Thailand (March 15, 1999)', 'Score = 21'],
 ['Uzbekistan 1996', 'Score = 24'],
 ['Vietnam (July 1, 2005)', 'Score = 22'],
 ['Burkina Faso 1994', 'Score = 15'],
 ['Cameroon (July, 1998)', 'Score = 17'],
 ['Cameroon (Aug, 1990)', 'Score = 10'],
 ["Cote d'Ivoire (December 27, 1991)", 'Score = 12'],
 ['Kenya (1990)', 'Score = 18'],
 ['Malawi (1998)', 'Score = 25'],
 ['Mali (April 13, 1992)', 'Score = 13'],
 ['Mauritius (March 14, 2003)', 'Score = 14'],
 ['Namibia 2003', 'Score = 22'],
 ['Nigeria 1999', 'Score = 10'],
 ['Senegal (August 22, 1994)', 'Score = 15'],
 ['South Africa (2000)', 'Score = 24'],
 ['South Africa (1979)', 'Score = 12'],
 ['Tanzania (May 23, 2003)', 'Score = 16'],
 ['Zambia 1994', 'Score = 20'],
 ['Zimbabwe 1996', 'Score = 20'],
 ['Zimbabwe 2001', 'Score = 23'],
 ['Algeria (January 25, 1995)', 'Score = 15'],
 ['Egypt (February 15, 2005)', 'Score = 13'],
 ['Israel (1988)', 'Score = 17'],
 ['Jordan 2004', 'Score = 23'],
 ['Morocco (June 5, 2000)', 'Score = 17'],
 ['Saudi Arabia 2004', 'Score = 20'],
 ['Tunisia (May 10, 1999)', 'Score = 14'],
 ['Australia (1974)', 'Score = 25'],
 ['Fiji 1998', 'Score = 17'],
 ['New Zealand (2005)', 'Score = 16'],
 ['New Zealand (1986)', 'Score = 17'],
 ['Papua New Guinea (2002)', 'Score = 13'],
 ['Canada (August 23, 2000)', 'Score = 24'],
 ['Canada (July 4, 1952)', 'Score = 13'],
 ['Canada (June 13, 1923)', 'Score = 9'],
 ['Canada (May 4, 1910)', 'Score = 12'],
 ['Canada, (May 2, 1889)', 'Score = 5'],
 ['United States 2007', 'Score = 24'],
 ['United States 1977', 'Score = 25'],
 ['Barbados 2002', 'Score = 25'],
 ['Jamaica 2001', 'Score = 20'],
 ['Trinidad and Tobago, 2007', 'Score = 20'],
 ['Costa Rica (1994,1996, 2000)', 'Score = 18'],
 ['El Salvador (January 1, 2006)', 'Score = 18'],
 ['El Salvador (April 30, 1997)', 'Score = 10'],
 ['Guatemala ()', 'Score = 8'],
 ['Honduras 2006', 'Score = 20'],
 ['Mexico (June 29, 2006)', 'Score = 24'],
 ['Mexico (March 4, 1999)', 'Score = 23'],
 ['Nicaragua 2006', 'Score = 20'],
 ['Panama (2006)', 'Score = 21'],
 ['Panama (1996, 1998)', 'Score = 18'],
 ['Argentina (September 16, 1999)', 'Score = 25'],
 ['Argentina (1980)', 'Score = 10'],
 ['Bolivia 1994', 'Score = 11'],
 ['Brazil 1994', 'Score = 19'],
 ['Brazil 2000', 'Score = 22'],
 ['Chile (2005)', 'Score = 13'],
 ['Chile (1973)', 'Score = 13'],
 ['Colombia (December 30, 1992)', 'Score = 18'],
 ['Colombia (May 3, 2006)', 'Score = 19'],
 ['Guyana (2004)', 'Score = 15'],
 ['Peru (September 3, 1998)', 'Score = 12'],
 ['Uruguay, 2007', 'Score = 22'],
 ['Uruguay 2001', 'Score = 15'],
 ['Venezuela (January 13, 1992)', 'Score = 13']]

In [ ]:
apd = pd.DataFrame.from_dict(appended)
apd[1] = apd1[1].map(lambda x: x.replace('=','').replace('Score','').strip(' '))
months = []
for i in range(1,12):
  months.append(calendar.month_name[i])
for x in months:
  apd[0] = apd[0].str.replace(x, "")
apd[0] = apd[0].str.replace(",", "")
apd[0] = apd[0].str.replace(")", "")
apd[0] = apd[0].str.replace("(", "")
apd

                      0   1
0       Austria  1 2006  19
1       Austria  1 2000  19
2          Belgium 2006  20
3          Belgium 1999  18
4         Bulgaria 2003  20
..                  ...  ..
180         Guyana 2004  15
181        Peru  3 1998  12
182        Uruguay 2007  22
183        Uruguay 2001  15
184  Venezuela  13 1992  13

[185 rows x 2 columns]

In [ ]:
apd[3] = apd[0].str.extract("(\d\d\d\d)")
apd[0] = apd[0].str.replace('\d+', '')

There is certainly a better way to do this... Code to be optimized

In [ ]:
apd= apd.rename(columns={1: "Score", 0: "Country", 3: "Year" })
apd["Country"] = apd["Country"].str.replace("December", "")
apd["Country"] = apd["Country"].str.replace("February", "")
apd["Country"] = apd["Country"].str.replace("January", "")
apd["Country"] = apd["Country"].str.replace("March", "")
apd["Country"] = apd["Country"].str.replace("April", "")
apd["Country"] = apd["Country"].str.replace("May", "")
apd["Country"] = apd["Country"].str.replace("June", "")
apd["Country"] = apd["Country"].str.replace("July", "")
apd["Country"] = apd["Country"].str.replace("August", "")
apd["Country"] = apd["Country"].str.replace("September", "")
apd["Country"] = apd["Country"].str.replace("October", "")
apd["Country"] = apd["Country"].str.replace("November", "")
apd["Country"] = apd["Country"].str.replace("Hungary Febuary", "Hungary")
apd["Country"] = apd["Country"].str.replace("Jan", "")
apd["Country"] = apd["Country"].str.replace("Serbia-Montenegro", "Serbia")
apd["Country"] = apd["Country"].str.replace(".", "")
apd["Country"] = apd["Country"].str.replace("Bosnia-Herzegovina", "Bosnia and Herzegovina")
apd["Country"] = apd["Country"].str.replace("Lao PDF", "Laos")
apd["Country"] = apd["Country"].str.replace("South Korea", "Korea, Republic of")
apd["Country"] = apd["Country"].str.replace("Aug", "")
apd

          Country Score  Year
0      Austria       19  2006
1      Austria       19  2000
2        Belgium     20  2006
3        Belgium     18  1999
4       Bulgaria     20  2003
..            ...   ...   ...
180       Guyana     15  2004
181       Peru       12  1998
182      Uruguay     22  2007
183      Uruguay     15  2001
184  Venezuela       13  1992

[185 rows x 3 columns]

In [ ]:
def do_fuzzy_search(country):
    try:
        result = pycountry.countries.search_fuzzy(country)
    except:
        return print('An exception flew by!')
        result = "LAO"
        raise
    else:
        return result[0].alpha_3
apd["Country"] = apd["Country"].apply(lambda country: do_fuzzy_search(country))

An exception flew by!

In [ ]:
apd.to_excel('antitrust.xlsx', index=False, encoding='utf-8')
apd

from google.colab import files
files.download('antitrust.xlsx')